* {
  box-sizing: border-box;
}

html, body, section {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  height: 96.5vh;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}
.App {
  text-align: center;
  background-color: #cfd2ca;
  height: 100vh;
}

.sections {
    height: 100vh;
    width: 100vw;
}