.navbar {
    display: flex;
    justify-content: center;
    padding: 0.7rem;
    border-radius: 22px;
    top: 3rem;
    position: fixed;
    z-index:10000;
    float: none;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(12,70,70,0.7);
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.btn {
    color: aliceblue;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    text-decoration: none;
    width: 100px;
    height: 30px;
    border-radius: 22px;
    border-style: hidden;
    background-color: transparent;
    font-size: 16px;
    align-items: center;
    text-align: center;
}

.sidebar {
    height: 135px;
    width: 30px;
    display: flex;
    justify-content: center;
    border-radius: 22px;
    position: fixed;
    z-index:10000;
    float: none;
    text-align: center;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
}

.side-links {
    list-style-type: none;
    display: flex;
    padding: 0;
    width: 100vw;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.btn-side {
    color: aliceblue;
    text-decoration: none;
    border-style: hidden;
    background-color: transparent;
    padding-right: 45px;

}

.btn:hover,
.btn.highlight {
    font-weight: bold;
}

.btn-side.highlight {
    color: rgb(12,70,70);
}

input[type=checkbox], .dropdown {
    display: none;
}

input[type=checkbox]:checked~.nav-links {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 110px;
    width: 100vw; /* Full viewport width */
    height: 110vh; /* Full viewport height */
    background-color: rgba(12,70,70); /* Background color */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    z-index: 10000; /* Ensure it's above other content */
    transform: translateY(0); /* Show menu */
    transition: transform 0.3s ease; /* Smooth transition */
}

input[type=checkbox]:checked~.dropdown::before{
    content: "\00d7";
    font-size: 30px;
    left: 17px;
}

.dropdown:before {
    content: "\2630"; /* Unicode character for three horizontal lines (☰) */
    display: block;
    font-size: 28px;
    user-select: none;
    cursor: pointer;
    position: fixed;
    top: 2.3rem;
    left: 15px;
    z-index: 10001;
}

@media (max-width: 700px) {
    .navbar {
        padding-left: 15px;
        padding-right: 15px;
        width: 100vw;
        top: 0.7rem;
        height: 5rem;
        border-radius: 0%;
        background-color: rgba(12,70,70);
        flex-direction: column;
        z-index: 100000;
    }

    .dropdown {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-links.open {
        display: flex;
    }

    .btn {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100vw;
        height: 60px;
        text-align: center;
    }
  }